bin/

# Ignore everything in vendor/, except for *.go files,
# LICENSE and COPYING. Ignore Go tests.
vendor/**/*
!vendor/**/
!vendor/**/*.go
!vendor/**/*.s
!vendor/**/LICENSE*
!vendor/**/COPYING*
vendor/**/*_test.go
