{{if exists "/pki/issue/my-role/www.example.com/certificate"}}
{{- $certificate := getv "/pki/issue/my-role/www.example.com/certificate" -}}
{{- $private_key := getv "/pki/issue/my-role/www.example.com/private_key" -}}
{
    "certificate": "{{ replace $certificate "\n" "\\n" -1 }}",
    "key": "{{ replace $private_key "\n" "\\n" -1 }}"
}
{{end}}