upstream app {
{{range $server := GetDir "upstream"}}
    server {{$server.Value}};
{{end}}
}

server {
    server_name  www.example.com;

    location / {
        proxy_pass        http://app;
        proxy_redirect    off;
        proxy_set_header  Host             $host;
        proxy_set_header  X-Real-IP        $remote_addr;
        proxy_set_header  X-Forwarded-For  $proxy_add_x_forwarded_for;
   }
}
